.homeAboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .homeAboutCol {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 75%;
        margin-bottom: 50px;
    }

    .homeAboutHeader {
        text-align: center;
        padding-bottom: 5px;
    }

    .homeAboutBody {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
    }

    .homeAboutDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 65%;

        p{
            margin-bottom: 5px;
        }
    }

    .homeAboutSocial {
        text-align: center;
        height: 200px;
        margin-bottom: 80px;
        gap: 50px;

        p {
            font-size: .8em;
        }

        .homeAboutSocialLinks {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            padding-top: 40px;


            li {
                .socialIcons {
                    font-size: .2rem;
                    background-color: white;
                    border-radius: 50%;
                    line-height: 2em;
                    transition: .5s;

                    * {
                        font-size: 20em;
                    }
                }

                .socialIcons:hover {
                    background-color: var(--blue-lightning);
                    font-size: .3rem;
                    box-shadow: 0px 0px 10px 2px var(--blue-lightning);
                }
            }

        }
    }
}

.myAvatar{
    position: relative;
    img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
    .avatarCircle{
        position: absolute;
        top: 25px;
        left: 10px;
        background-color: rgb(3, 3, 120);
        width: 180px;
        height: 180px;
        border-radius: 50%;
        z-index: -1;
    }
}

@media screen and (max-width: 485px) {
    .homeAboutSection {
        margin-top: 100px;
        .homeAboutCol{
            width: 95%;
        }

        .homeAboutBody {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;
        }
    
        .homeAboutHeader {
            font-size: 3rem;
            font-weight: 400;
        }
    
        .homeAboutDescription {
            font-size: 1.2rem;
            width: 95%;
            margin: 0 auto;
            gap: 20px;
        }
    
        .homeAboutSocial {
            h1{
                font-size: 1.7rem;
            }
            .homeAboutSocialLinks {
                li {
                    .socialIcons:hover {
                        font-size: .3rem;
                    }
                }
    
            }
        }
    }
    
    .myAvatar{
        margin-inline: auto;
        margin-top: 30px;
        img {
            width: 230px;
            height: 230px;
        }
        .avatarCircle{
            width: 210px;
            height: 210px;
        }
    }
}
@media screen and (min-width: 485px) and (max-width: 780px) {
    .homeAboutSection {
    
        .homeAboutHeader {
            font-size: 1.7rem;
        }
    
        .homeAboutDescription {
            font-size: 1rem;
        }
    
        .homeAboutSocial {
            h1{
                font-size: 1.7rem;
            }
            .homeAboutSocialLinks {
                li {
                    .socialIcons:hover {
                        font-size: .3rem;
                    }
                }
    
            }
        }
    }
    
    .myAvatar{
        margin: auto;
        img {
            width: 100px;
            height: 100px;
        }
        .avatarCircle{
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 1375px) {
    .homeAboutSection {
        .homeAboutHeader {
            font-size: 1.7rem;
        }
    
        .homeAboutDescription {
            font-size: 1rem;
        }
    
        .homeAboutSocial {
            h1{
                font-size: 1.7rem;
            }
            .homeAboutSocialLinks {
                li {
                    .socialIcons:hover {
                        font-size: .3rem;
                    }
                }
    
            }
        }
    }
}

@media screen and (min-width: 1375px) and (max-width: 1735px) {

}