.aboutWrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 90px;

    .BackgroundImage {
        background-image: url('../../assets/images/tiard-schulz-BbqIr6T8O10-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .aboutMainRow {
        width: 70%;
        margin-inline: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        .aboutMeHeader {
            text-align: center;
            font-weight: 400;
        }
    }

    .aboutMeCol {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;

        .aboutTextWrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;

            ul {
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    * {
                        font-size: larger;
                    }
                }
            }
        }

        img {
            width: 400px;
            height: 400px;
            object-fit: contain;
            transform: scaleX(-1);
        }
    }

}

@media screen and (max-width: 485px) {
    .aboutWrapper {
        gap: 40px;
        .aboutMainRow {
            width: 100%;

            .aboutMeHeader {
                font-size: 2rem;
            }
        }

        .aboutMeCol {
            flex-direction: column;
            height: 300px;
            .aboutTextWrapper {
                width: 50%;
                font-size: 1rem;
    
                ul {
                    padding-left: 15px;
                    li {
                        * {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            img {
                display: none;
            }
        }
    }
}

.skillRow{
    width: 100%;
}

.toolsRow{
    width: 100%;
}

@media screen and (min-width: 485px) and (max-width: 780px) {
    .aboutWrapper {

        .aboutMainRow {
            width: 85%;

            .aboutMeHeader {
                font-size: 2rem;
            }
        }

        .aboutMeCol {

            .aboutTextWrapper {
                width: 50%;
                font-size: 1rem;
    
                ul {
    
                    li {
                        * {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            img {
                width: 180px;
                height: 180px;
                object-fit: contain;
                transform: scaleX(-1);
            }
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 1375px) {
    .aboutWrapper {

        .aboutMainRow {
            width: 65%;

            .aboutMeHeader {
                font-size: 2rem;
            }
        }

        .aboutMeCol {

            .aboutTextWrapper {
                width: 50%;
                font-size: 1rem;
    
                ul {
    
                    li {
                        * {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            img {
                width: 250px;
                height: 250px;
                object-fit: contain;
                transform: scaleX(-1);
            }
        }

    }
}

@media screen and (min-width: 1375px) and (max-width: 1735px) {

    .aboutWrapper {

        .aboutMainRow {
            width: 85%;

            .aboutMeHeader {
                font-size: 2rem;
            }
        }

        .aboutMeCol {
            width: 100%;

            img {
                width: 300px;
                height: 300px;
                object-fit: contain;
                transform: scaleX(-1);
            }
        }

    }
}