.aboutWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 90px;

    .BackgroundImage {
        background-image: url('../../assets/images/tiard-schulz-BbqIr6T8O10-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .aboutMainRow {
        width: 70%;
        margin-inline: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        .aboutMeHeader {
            text-align: center;
            font-weight: 400;
        }
    }

    .aboutMeCol {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .aboutTextWrapper {
            display: flex;
            flex-direction: column;
            gap: 25px;

            ul{
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                li{
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    *{
                        font-size: larger;
                    }
                }
            }
        }

        img {
            width: 400px;
            height: 400px;
            object-fit: contain;
            transform: scaleX(-1);
        }
    }
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .aboutWrapper {
        gap: 0px;
    
        .aboutMainRow {
            margin-bottom: 110px;
        }

        .aboutMeCol {
    
            img {
                width: 300px;
                height: 300px;
            }
        }
        
    }
}

@media screen and (min-width: 1441px) {

}