.homeWrapper {
    height: 95%;
    width: 100%;

    .BackgroundImage {
        background-image: url('../../assets/images/tiard-schulz-BbqIr6T8O10-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .homeMainRow {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .homeMainCol {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 100px 0 250px 0;

            .homeWavingHand {
                display: inline-block;
                animation: wave 2s infinite;
                transform-origin: bottom center;
            }


            .homeTopicName {
                margin-bottom: 35px;
            }

            .typeWriter {
                * {
                    font-size: 40px;
                    color: var(--blue-lightning);
                }

            }

            .homeHeaderImage {
                width: 400px;
                height: 400px;
                object-fit: contain;
                transform: scaleX(-1);
            }
        }
    }
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}