:root{
    --blue-lightning: #018dbb;
}

#root{ 
  position: relative;
}

body{
    font-size: 20px;
    min-height: 100vh;
    position: relative;
}

h1{
  font-weight: 500;
}

.blue{
  color: var(--blue-lightning);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-height: 1200px) {
  #root{ 
      position: unset;
  }
}
